@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Font face */
@font-face {
  font-family: 'WebSymbolsRegular';
  src: url('../fonts/websymbols-regular-webfont.eot');
  src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/websymbols-regular-webfont.woff') format("woff"), url('../fonts/websymbols-regular-webfont.ttf') format("truetype"), url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format("svg");
  font-weight: normal;
  font-style: normal; }

/* Communs */
html, body {
  height: 100%; }

body {
  font: 12px/18px "Lucida sans", sans-serif;
  color: white;
  background: #21252c;
  background: #212121;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #212121 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #212121), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #212121 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #212121 0%, black 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #212121 0%, black 100%);
  /* IE10+ */
  background: radial-gradient(center, ellipse cover, #212121 0%, #000000 100%);
  /* W3C */ }

img {
  max-width: 100%;
  text-center: center;
  padding: 0;
  width: 500px;
  height: auto;
  max-width: 100%; }

#content {
  text-align: center;
  padding: 40px; }

.stack {
  display: inline-block;
  width: 240px;
  height: 160px;
  position: relative;
  margin: 0 40px 40px 0;
  z-index: 0; }
  .stack:before {
    content: attr(data-count);
    display: block;
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
    padding: 0 4px 0 32px;
    color: #FFF;
    pointer-events: none;
    opacity: .7; }
  .stack:after {
    content: "I";
    display: block;
    position: absolute;
    top: 14px;
    left: 16px;
    font-size: 14px;
    z-index: 10;
    padding: 0;
    color: #FFF;
    font-family: WebSymbolsRegular;
    pointer-events: none;
    opacity: .6; }
  .stack li {
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
    z-index: 1;
    -moz-transition: all 160ms ease-in;
    -webkit-transition: all 160ms ease-in;
    -o-transition: all 160ms ease-in;
    transition: all 160ms ease-in; }
    .stack li:first-child {
      z-index: 2; }
  .stack li:nth-child(2) {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  .stack li:nth-child(3) {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  .stack img {
    display: block;
    border: 4px solid white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.51);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.51);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.51);
    -moz-transition: opacity 160ms ease;
    -webkit-transition: opacity 160ms ease;
    -o-transition: opacity 160ms ease;
    transition: opacity 160ms ease; }
  .stack:hover li:nth-child(2) {
    -moz-transform: rotate(7deg) translate(-6px, -3px);
    -webkit-transform: rotate(7deg) translate(-6px, -3px);
    -o-transform: rotate(7deg) translate(-6px, -3px);
    -ms-transform: rotate(7deg) translate(-6px, -3px);
    transform: rotate(7deg) translate(-6px, -3px); }
  .stack:hover li:nth-child(3) {
    -moz-transform: rotate(-5deg) translate(10px, 10px);
    -webkit-transform: rotate(-5deg) translate(10px, 10px);
    -o-transform: rotate(-5deg) translate(10px, 10px);
    -ms-transform: rotate(-5deg) translate(10px, 10px);
    transform: rotate(-5deg) translate(10px, 10px); }
  .stack:hover li:nth-child(4) {
    -moz-transform: rotate(-4deg) translate(-16px, -2px);
    -webkit-transform: rotate(-4deg) translate(-16px, -2px);
    -o-transform: rotate(-4deg) translate(-16px, -2px);
    -ms-transform: rotate(-4deg) translate(-16px, -2px);
    transform: rotate(-4deg) translate(-16px, -2px); }

.stack:last-of-type {
  margin-right: 0; }

/* Tab */
.tabbar {
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /*line-height: 40px;*/
  padding: 0px 40px;
  color: white;
  -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.05);
  -o-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.05);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(#222222, #111111);
  background-image: -moz-linear-gradient(#222222, #111111);
  background-image: -o-linear-gradient(#222222, #111111);
  background-image: -ms-linear-gradient(#222222, #111111);
  background-image: linear-gradient(#222222, #111111); }

  .tabbar p {
    font-size: 95%;
    color: white;
    text-align: left;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px; }

/* Glisse: Overlay */
#glisse-overlay {
  background: #45484d;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #45484d), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
  /* IE10+ */
  background: radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

#glisse-close {
  height: 40px;
  width: 20px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left: -10px; }
  #glisse-close:after {
    height: 40px;
    width: 20px;
    display: block;
    color: #FFF;
    content: "²";
    font-family: WebSymbolsRegular;
    line-height: 40px;
    font-size: 20px;
    color: #DFDFDF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 0.8px #000;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(100%, white), to(#dfdfdf)); }

#glisse-controls {
  z-index: 999; }

/* Prev/Next button */
.glisse-next a, .glisse-prev a {
  width: 20px;
  height: 40px;
  text-decoration: none;
  display: block;
  text-align: center;
  position: fixed;
  bottom: 10px;
  font-size: 20px;
  font-family: WebSymbolsRegular;
  line-height: 40px;
  color: #DFDFDF;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.8px #000;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(100%, white), to(#dfdfdf)); }

.glisse-next a {
  left: 50%;
  margin-left: 20px; }

.glisse-prev a {
  left: 50%;
  margin-left: -40px; }

.glisse-legend {
  display: none; }

@media screen and (max-width: 640px) {
  .stack {
    margin: 0 auto 30px;
    display: block; }

  .stack:last-of-type {
    margin-right: auto; } }
